html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--page-bg);
    color: var(--text-color);
    font-family: var(--font-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
}

.title-1 {
    color: var(--text-color);
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &--decor {
        position: relative;
    }

    &--decor::after {
        content: '';

        position: absolute;
        left: 0px;
        bottom: 5px;
        z-index: -1;
        width: 268px;
        height: 24px;

        background-image: url('./../../img/discover/underline.svg');
        background-repeat: no-repeat;
    }
}

.title-3 {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text {
    color: var(--text-muted);
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%; /* 27px */
    p + p {
        margin-top: 1em;
    }
}

.muted {
    color: var(--text-muted);
}
