:root {
    --container-width: 1230px;
    --container-padding: 15px;

    --font-main: 'Circular Std', sans-serif;

    --page-bg: #fff;
    --text-color: #181818;
    --text-muted: #909090;
    --accent: #35aff4;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}


