.footer {
    padding: 80px 0;
    background: #181818;
    color: #fff;

    a {
        color: #fff;
    }

    @include mediaMobile {
        padding: 40px 20px;
    }
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 128px;
    align-items: start;

    @include mediaMobileS {
        grid-template-columns: 1fr;
        gap: 60px;
    }
}
.footer__copyright {
    display: grid;
    gap: 24px;
}
.footer__copyrigh-text {
    max-width: 300px;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
}
.footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 40px;

    @include mediaMobileS {
        grid-row: -1 / 1; //навигацию поднияли перед логотипом
    }
}
