.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px; /*отступы менжду колонками и рядами*/
}
.nav__logo {
    flex-shrink: 0; //чтобы не сжимался
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    a {
        color: #181818;
    }

    a:hover,
    a.active {
        color: #35aff4;
    }
    @include mediaMobile {
        display: none;
    }
}

.nav__btns {
    display: flex;
    gap: 12px;

    @include mediaMobile {
        display: none;
    }
}

.nav__icon {
    display: none;
    
    @include mediaMobile {
        display: block;
    }
}
