.partners {
    padding: 60px 0;

    @include mediaMobile {
        padding: 30px 0;
    }
}

.partners__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @include mediaTablet {
        flex-direction: column; //разместили два блока в одну колонку
    }
}

.partners__title {
    color: var(--text-muted);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 33.6px */
}

.partners__content {
    display: flex;
    align-items: center;
    gap: 32px;

    flex-wrap: wrap; //добавили при мобильной верстке для переноса контента на другую строку

    @include mediaLaptop {
        gap: 20px;
    }
}
