.popular {
    padding: 60px 0;
}

.popular__top {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.popular__title {
    display: grid;
    gap: 16px;
}

.popular__controls {
    display: flex;
    gap: 16px;
}

.popular__slider {
}
