.subscribe {
    overflow: hidden;
    padding: 80px 0;
    background-color: var(--accent);
    color: var(--text-white);
    
    @include mediaLaptop {
    padding: 40px 0;

    }
}

.subscribe__row {
    position: relative;
    padding-left: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    &::before {
        content: '';
        position: absolute;
        left: -78px;
        top: -100px;
        width: 236px;
        height: 273px;
        background-image: url('./../../img/subscribe/subscribe-pin-bg.svg');
        background-repeat: no-repeat;

        @include mediaTablet {
            top: -47px;
        }
        @include mediaMobile {
            display: none;
        }
    }

    @include mediaTablet {
        flex-direction: column; //флекс элементы в одну колонку
        align-items: center;
        text-align: center;
        padding: 0 150px;
    }
    @include mediaMobile {
        padding: 0;
        
    }
}
.subscribe__desc {
    display: grid;
    gap: 4px;
}

.subscribe__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.subscribe__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}

.subscribe__form {
    flex-grow: 1; //гибкий рост для импута
    min-width: 400px;

    @include mediaMobile {
        min-width: unset;
    }
    @include mediaMobileS {
        width: 100%;
    }


}