.subscribe {
    overflow: hidden;
    padding: 80px 0;
    background-color: var(--accent);
    color: #fff;
    height: 224px;
}

.subscribe__row {
    position: relative;
    padding-left: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    &::before {
        content: '';
        position: absolute;
        left: -78px;
        top: -100px;
        width: 236px;
        height: 273px;
        background-image: url('./../../img/subscribe/subscribe-pin-bg.svg');
        background-repeat: no-repeat;
    }
}
.subscribe__desc {
    display: grid;
    gap: 4px;
}

.subscribe__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.subscribe__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}
