.subscribe__form {
    flex-grow: 1;
}
.subscribe-form {
    display: flex;
    align-items: center;
    gap: 12px;
}
.subscribe-form__input {
    flex-grow: 1;
    padding: 12px;
    padding-left: 44px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #fff;
    background: var(--White, #fff);

    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%; /* 21px */

    background-image: url('./../../img/icons/email.svg');
    background-position: 12px 12px;
    background-size: auto;
    background-repeat: no-repeat;

    &::placeholder {
        color: var(--text-muted);
    }
}
.subscribe-form__btn {
    padding: 12px 24px;
    height: 48px;
    border-radius: 8px;
    background: var(--text-color);

    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: 150%; /* 24px */

    transition: opacity 0.2s ease-in;

    &:hover {
        opacity: 0.9;
    }
}
