.testimonials-horizontal {
    display: none;

    .swiper {
        padding: 30px 0;
    }

    .card-review {
        height: 325px;
    }

    @include mediaTablet {
        display: block;
    }
}

.testimonials__grid {
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    margin: 0 -10px;

    @include mediaTablet {
        display: none;
    }
}

.testimonials__col {
    // display: grid;
    // gap: 32px;
    // animation: slideUp 20s infinite; // совойство, отвечающее за анимацию 1-й версии

    &:nth-child(2) {
        padding-top: 100px;
    }
    &:nth-child(3) {
        padding-top: 50px;
    }
}

.testimonials__swiper {
    height: 900px; //фиксируем высоту столбца свайпера с карточками

    @include mediaLaptop {
        height: 600px; //фиксируем высоту столбца свайпера с карточками
    }

    .swiper-slide {
        padding: 0 10px 32px;
        //карточке слайдера задаем конкретную высоту
        height: 357px !important;

        //вложенные в слайдер карточки тянем на 100% высоты
        & > * {
            height: 100%;
        }

        @include mediaLaptop {
            height: 400px !important;
        }
    }
}

.smooth-transition {
    -webkit-transition-timing-function: linear !important;
    -o-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}

//описание анимации для 1-й версии
@keyframes slideUp {
    0% {
        transform: translateY(0%);
    }
    95% {
        transform: translateY(-50%);
        opacity: 1;
        filter: blur(0px);
    }
    97% {
        transform: translateY(-50%);
        opacity: 0;
        filter: blur(10px);
    }
    98% {
        transform: translateY(0%);
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
        filter: blur(0px);
    }
}
